/HolaMundo/build/
/HolaMundo/nbproject/private/
/MiNombre/target/
/AreaC/target/
/PromedioC/target/
/Casting/target/
/Horoscopo/target/
/ConseguirNumero/target/
/ConseguirN/target/
/ResultadoE/target/
/Factorial/target/
/EdadesP/target/
/Juego/target/
/Avisos/target/